<div id="top-bar">
</div>

<div id="main-content">
  <div id="walk-me-home">
      <%= link_to image_tag("walk-me-home-btn.png"), remote: true  %>
  </div>
  <div id="location-search">
    placeholder for location bar
  </div>

  <div id="walk-button">
    placeholder for button to hit to keep walking
  </div>
  <div id="home-safely">
    <%= link_to image_tag("i-am-home.png") %>
  </div>
</div>

<div id="bottom-bar">
</div>
