<div id="top-bar">
  Guardian
</div>

<div id="main-content">
  <div class="walk-me-home" id=hidden-div>
    Walk me home
  </div>
  <div class="location-search" id=shown-div>
    placeholder for location bar
  </div>
</div>

<div id="bottom-bar">
  <div class=bottom-menu>
    <%= link_to "*Friends*", friends_path %>
    <!-- add link tag to contacts -->
    <div class=bottom-separator></div>
    <%= link_to "*Events*", events_path %>
  </div>
</div>
