<div id="main-content no-top">
  <div id="logo-space">
    <div id="logo-image">
    </div>
    <div>
      <h1>Guardian</h1>
    </div>
  </div>

</div>

<div id="bottom-bar">
  <div class="bottom-menu">
    <%= link_to 'register', new_user_registration_path %>
    <div class="bottom-separator"></div>
    <%= link_to 'login', new_user_session_path %>
  </div>
</div>
