<h1>Hello Guardian</h1>




<div id="walk-me-home">
  <%= link_to image_tag("walk-me-home-btn.png") %>
</div>  

<div id="home-safely">
  <%= link_to image_tag("i-am-home.png") %>
</div>

<div id="show-events">
  <%= link_to image_tag("i-am-home.png") %>
</div>
