<h1>List of all my events</h1>

<ul>
    <% @events.each do |event| %>
      <!--  need teacher.html.erb template -->
      <li><%= link_to event.created_at,  event_path(event), {class:"#"} %></li>
    <%end%>
  </ul>

