<div id="top-bar">
  <% date = @event.created_at %>
  <%= date.strftime("%a %B %d") %>
</div>

<div id="main-content no-bottom">
    <div id=info>
      <%= @friend.first_name + " " + @friend.last_name + " " %>walked you home.
    </div>
  <div id="video">
    <iframe height="360px" width="640px" src="http://172.16.51.60:3000" name="iframe_a"></iframe>
  </div>
  <div id="map">
    placeholder for map
  </div>
</div>
