<div id=top-bar>
  
  <div class=help-status id=help-not-connected>
    No one watching...
  </div>
  
</div>

<div id="main-content no-bottom">  
  <div id="walk-button">
    Walk <!-- placeholder for button to hit to keep walking -->
  </div>
  <div id="home-safely">
    Safe <!-- need proper route -->
  </div>
</div>

